body{
    background-color: plum;
    #first , h1{
    background-color: white;
}
.second{
    /* background-color: tomato; */
    color: brown;
}

h1{  
    color: pink;
    background-color: black;
  }

*{
    margin: 0;
    padding: 0;
}
}
